@import 'public/css/index.css';

.backgroundImage {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.loginContainer {
    border-radius: 4px;
    background-color: var(--mc-light-gray);
}
